body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav {
  background-color: #444;
  padding: 10px;
  text-align: center;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
nav a:hover {
  background-color: #666;
}
main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category {
  width: 30%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  transition: transform .3s;
  cursor: pointer;
}

.category:hover {
    transform: translateY(-10px);
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
